.green-background {
  background-color: green;
}

#green {
  background-color: #288A06;
}

.yellow-background {
  background-color: yellow;
}

#yellow {
  background-color: #F5FA4C;
}

.red-background {
  background-color: red;
}

#red {
  background-color: #A42303;
}
